NodeRed/flows.json
[
    {
        "id": "12421ff9dde586d7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "352fcc860ddcd8e8",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ef4821db8ede55e8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ed08ea8ae00afeef",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7ac9664a2bf3d9f2",
        "type": "ui_group",
        "name": "STREFA 1",
        "tab": "ed08ea8ae00afeef",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bda376001a4a078a",
        "type": "ui_group",
        "name": "STREFA 2",
        "tab": "ed08ea8ae00afeef",
        "order": 4,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "617c289c1fe65e5b",
        "type": "ui_group",
        "name": "STREFA 3",
        "tab": "ed08ea8ae00afeef",
        "order": 5,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4156a645b40f200d",
        "type": "ui_group",
        "name": "STREFA 4",
        "tab": "ed08ea8ae00afeef",
        "order": 6,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b83fdc84299e19f",
        "type": "ui_spacer",
        "z": "12421ff9dde586d7",
        "name": "spacer",
        "group": "7ac9664a2bf3d9f2",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "ecd0e27cf22f3009",
        "type": "ui_spacer",
        "z": "12421ff9dde586d7",
        "name": "spacer",
        "group": "bda376001a4a078a",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "fe40f219cac63996",
        "type": "ui_spacer",
        "z": "12421ff9dde586d7",
        "name": "spacer",
        "group": "617c289c1fe65e5b",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "822ee83694ce86e1",
        "type": "ui_spacer",
        "z": "12421ff9dde586d7",
        "name": "spacer",
        "group": "4156a645b40f200d",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "f2aed52371d902c0",
        "type": "mqtt-broker",
        "name": "Mqtt broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a5181302843e8fd8",
        "type": "ui_group",
        "name": "Blok ogólny, do zmian",
        "tab": "ed08ea8ae00afeef",
        "order": 1,
        "disp": true,
        "width": "40",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ba0e4bfb5dc84ba8",
        "type": "mqtt in",
        "z": "12421ff9dde586d7",
        "name": "",
        "topic": "FANS",
        "qos": "2",
        "datatype": "json",
        "broker": "f2aed52371d902c0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 320,
        "wires": [
            [
                "35be2aee50a84c1c",
                "335abbb6457492ef",
                "61238c0d5592c901",
                "8fa13984f3c8a70f"
            ]
        ]
    },
    {
        "id": "83c2bb1e34bd43ab",
        "type": "mqtt in",
        "z": "12421ff9dde586d7",
        "name": "",
        "topic": "SETPOINTS",
        "qos": "2",
        "datatype": "json",
        "broker": "f2aed52371d902c0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 100,
        "wires": [
            [
                "550c9f1e10d2644c",
                "8e1286b325de308b",
                "d231553fd271ec2e",
                "4dca01c00c5faa2e"
            ]
        ]
    },
    {
        "id": "550c9f1e10d2644c",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "7ac9664a2bf3d9f2",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura Zadana: ",
        "format": "{{msg.payload.SetPoint1}}°C",
        "layout": "row-center",
        "className": "",
        "x": 600,
        "y": 40,
        "wires": []
    },
    {
        "id": "8e1286b325de308b",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "bda376001a4a078a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura Zadana: ",
        "format": "{{msg.payload.SetPoint2}}°C",
        "layout": "row-center",
        "className": "",
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "d231553fd271ec2e",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "617c289c1fe65e5b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura Zadana: ",
        "format": "{{msg.payload.SetPoint3}}°C",
        "layout": "row-center",
        "className": "",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "4dca01c00c5faa2e",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "4156a645b40f200d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura Zadana: ",
        "format": "{{msg.payload.SetPoint4}}°C",
        "layout": "row-center",
        "className": "",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "35be2aee50a84c1c",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "7ac9664a2bf3d9f2",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Wentylator 1",
        "label": "%",
        "format": "{{msg.payload.Fan1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "335abbb6457492ef",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "bda376001a4a078a",
        "order": 5,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Wentylator 2",
        "label": "%",
        "format": "{{msg.payload.Fan2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "61238c0d5592c901",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "617c289c1fe65e5b",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Wentylator 3",
        "label": "%",
        "format": "{{msg.payload.Fan3}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 340,
        "wires": []
    },
    {
        "id": "8fa13984f3c8a70f",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "4156a645b40f200d",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Wentylator 4",
        "label": "%",
        "format": "{{msg.payload.Fan4}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 380,
        "wires": []
    },
    {
        "id": "73736625e4114183",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "7ac9664a2bf3d9f2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktualna Temperatura:",
        "format": "{{msg.payload.Temp1}}°C",
        "layout": "row-center",
        "className": "",
        "x": 600,
        "y": 540,
        "wires": []
    },
    {
        "id": "f460d0eb218848ae",
        "type": "ui_chart",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "7ac9664a2bf3d9f2",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Historia Temperatury",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "0818906543b39652",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "bda376001a4a078a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktualna Temperatura:",
        "format": "{{msg.payload}}°C",
        "layout": "row-center",
        "className": "",
        "x": 600,
        "y": 660,
        "wires": []
    },
    {
        "id": "b404e38ea2cd2b26",
        "type": "ui_chart",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "bda376001a4a078a",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Historia Temperatury",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "6bf786ab447a3b4f",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "617c289c1fe65e5b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktualna Temperatura:",
        "format": "{{msg.payload}}°C",
        "layout": "row-center",
        "className": "",
        "x": 600,
        "y": 780,
        "wires": []
    },
    {
        "id": "68a21166d781d8c0",
        "type": "ui_chart",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "617c289c1fe65e5b",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Historia Temperatury",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "693912a50dfea180",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "4156a645b40f200d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktualna Temperatura:",
        "format": "{{msg.payload}}°C",
        "layout": "row-center",
        "className": "",
        "x": 600,
        "y": 900,
        "wires": []
    },
    {
        "id": "1e02974daf3c7c43",
        "type": "ui_chart",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "4156a645b40f200d",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Historia Temperatury",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "b57b5287b03e3c44",
        "type": "mqtt in",
        "z": "12421ff9dde586d7",
        "name": "",
        "topic": "TEMPERATURES",
        "qos": "2",
        "datatype": "json",
        "broker": "f2aed52371d902c0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 740,
        "wires": [
            [
                "0b1f331c329e0473",
                "258f048bcad02f00",
                "5f72a694a098069e",
                "703ad5d68939bcca"
            ]
        ]
    },
    {
        "id": "0b1f331c329e0473",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "",
        "func": "var newMsg = { payload: msg.payload.length };\nnewMsg.payload = msg.payload.Temp1;\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 560,
        "wires": [
            [
                "73736625e4114183",
                "f460d0eb218848ae"
            ]
        ]
    },
    {
        "id": "0504a7f967f2a2c1",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "in: 0-3 -> out: stan strefy",
        "func": "var newMsg = { payload: msg.payload.length };\n\nswitch (msg.payload.Zone1){\n    case 0:\n        newMsg.payload = \"bezczynność\";\n    break;\n    case 1:\n        newMsg.payload = \"Grzanie\"\n    break;\n    case 2:\n        newMsg.payload = \"Chłodzenie\"\n    break;\n    default:\n        newMsg.payload = \"zepsuło się\"\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1020,
        "wires": [
            [
                "a6671fd24f17c58b"
            ]
        ]
    },
    {
        "id": "a6671fd24f17c58b",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "7ac9664a2bf3d9f2",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Stan: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 650,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d070a168102d2999",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "bda376001a4a078a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Stan: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 650,
        "y": 1080,
        "wires": []
    },
    {
        "id": "eab1465fef3f2b10",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "617c289c1fe65e5b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Stan: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 650,
        "y": 1140,
        "wires": []
    },
    {
        "id": "166f78788aac5fc6",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "4156a645b40f200d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Stan: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 650,
        "y": 1200,
        "wires": []
    },
    {
        "id": "c66681ee2ebcf7b9",
        "type": "mqtt in",
        "z": "12421ff9dde586d7",
        "name": "",
        "topic": "ZONES",
        "qos": "2",
        "datatype": "json",
        "broker": "f2aed52371d902c0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1100,
        "wires": [
            [
                "0504a7f967f2a2c1",
                "d1af225735f31bbe",
                "0eccf91a56a0b537",
                "cca79abab80744c3"
            ]
        ]
    },
    {
        "id": "258f048bcad02f00",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "",
        "func": "var newMsg = { payload: msg.payload.length };\nnewMsg.payload = msg.payload.Temp2;\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 397.8125,
        "y": 680.818603515625,
        "wires": [
            [
                "0818906543b39652",
                "b404e38ea2cd2b26"
            ]
        ]
    },
    {
        "id": "5f72a694a098069e",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "",
        "func": "var newMsg = { payload: msg.payload.length };\nnewMsg.payload = msg.payload.Temp3;\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 800,
        "wires": [
            [
                "6bf786ab447a3b4f",
                "68a21166d781d8c0"
            ]
        ]
    },
    {
        "id": "703ad5d68939bcca",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "",
        "func": "var newMsg = { payload: msg.payload.length };\nnewMsg.payload = msg.payload.Temp4;\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 920,
        "wires": [
            [
                "693912a50dfea180",
                "1e02974daf3c7c43"
            ]
        ]
    },
    {
        "id": "d1af225735f31bbe",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "in: 0-3 -> out: stan strefy",
        "func": "var newMsg = { payload: msg.payload.length };\n\nswitch (msg.payload.Zone2){\n    case 0:\n        newMsg.payload = \"bezczynność\";\n    break;\n    case 1:\n        newMsg.payload = \"Grzanie\"\n    break;\n    case 2:\n        newMsg.payload = \"Chłodzenie\"\n    break;\n    default:\n        newMsg.payload = \"zepsuło się\"\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1080,
        "wires": [
            [
                "d070a168102d2999"
            ]
        ]
    },
    {
        "id": "0eccf91a56a0b537",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "in: 0-3 -> out: stan strefy",
        "func": "var newMsg = { payload: msg.payload.length };\n\nswitch (msg.payload.Zone3){\n    case 0:\n        newMsg.payload = \"bezczynność\";\n    break;\n    case 1:\n        newMsg.payload = \"Grzanie\"\n    break;\n    case 2:\n        newMsg.payload = \"Chłodzenie\"\n    break;\n    default:\n        newMsg.payload = \"zepsuło się\"\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1140,
        "wires": [
            [
                "eab1465fef3f2b10"
            ]
        ]
    },
    {
        "id": "cca79abab80744c3",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "in: 0-3 -> out: stan strefy",
        "func": "var newMsg = { payload: msg.payload.length };\n\nswitch (msg.payload.Zone4){\n    case 0:\n        newMsg.payload = \"bezczynność\";\n    break;\n    case 1:\n        newMsg.payload = \"Grzanie\"\n    break;\n    case 2:\n        newMsg.payload = \"Chłodzenie\"\n    break;\n    default:\n        newMsg.payload = \"zepsuło się\"\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1200,
        "wires": [
            [
                "166f78788aac5fc6"
            ]
        ]
    },
    {
        "id": "ed128785bb8ae9a5",
        "type": "aedes broker",
        "z": "352fcc860ddcd8e8",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 150,
        "y": 120,
        "wires": [
            [],
            []
        ]
    }
]