NodeRed/flows.json
[
    {
        "id": "12421ff9dde586d7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0349933493185ff4",
        "type": "ui_group",
        "name": "Do usunięcia",
        "tab": "ed08ea8ae00afeef",
        "order": 1,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef4821db8ede55e8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ed08ea8ae00afeef",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7ac9664a2bf3d9f2",
        "type": "ui_group",
        "name": "STREFA 1",
        "tab": "ed08ea8ae00afeef",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bda376001a4a078a",
        "type": "ui_group",
        "name": "STREFA 2",
        "tab": "ed08ea8ae00afeef",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "617c289c1fe65e5b",
        "type": "ui_group",
        "name": "STREFA 3",
        "tab": "ed08ea8ae00afeef",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4156a645b40f200d",
        "type": "ui_group",
        "name": "STREFA 4",
        "tab": "ed08ea8ae00afeef",
        "order": 5,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b83fdc84299e19f",
        "type": "ui_spacer",
        "z": "12421ff9dde586d7",
        "name": "spacer",
        "group": "7ac9664a2bf3d9f2",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "ecd0e27cf22f3009",
        "type": "ui_spacer",
        "z": "12421ff9dde586d7",
        "name": "spacer",
        "group": "bda376001a4a078a",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "fe40f219cac63996",
        "type": "ui_spacer",
        "z": "12421ff9dde586d7",
        "name": "spacer",
        "group": "617c289c1fe65e5b",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "822ee83694ce86e1",
        "type": "ui_spacer",
        "z": "12421ff9dde586d7",
        "name": "spacer",
        "group": "4156a645b40f200d",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "02faee74f8ecf03a",
        "type": "ui_slider",
        "z": "12421ff9dde586d7",
        "name": "",
        "label": "went2",
        "tooltip": "",
        "group": "0349933493185ff4",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "0818906543b39652",
                "b404e38ea2cd2b26",
                "335abbb6457492ef"
            ]
        ]
    },
    {
        "id": "d31e2c34d0433b6b",
        "type": "ui_slider",
        "z": "12421ff9dde586d7",
        "name": "",
        "label": "went1",
        "tooltip": "",
        "group": "0349933493185ff4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "73736625e4114183",
                "f460d0eb218848ae",
                "35be2aee50a84c1c"
            ]
        ]
    },
    {
        "id": "be8e027ba15d2ab0",
        "type": "ui_slider",
        "z": "12421ff9dde586d7",
        "name": "",
        "label": "went3",
        "tooltip": "",
        "group": "0349933493185ff4",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "6bf786ab447a3b4f",
                "68a21166d781d8c0",
                "61238c0d5592c901"
            ]
        ]
    },
    {
        "id": "57b2f52fb5511027",
        "type": "ui_slider",
        "z": "12421ff9dde586d7",
        "name": "",
        "label": "went4",
        "tooltip": "",
        "group": "0349933493185ff4",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "693912a50dfea180",
                "1e02974daf3c7c43",
                "8fa13984f3c8a70f"
            ]
        ]
    },
    {
        "id": "35be2aee50a84c1c",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "7ac9664a2bf3d9f2",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Wentylator 1",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "73736625e4114183",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "7ac9664a2bf3d9f2",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktualna Temperatura:",
        "format": "{{msg.payload}}°C",
        "layout": "row-center",
        "className": "",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "f460d0eb218848ae",
        "type": "ui_chart",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "7ac9664a2bf3d9f2",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "historia temperatury",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "335abbb6457492ef",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "bda376001a4a078a",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Wentylator 2",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "0818906543b39652",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "bda376001a4a078a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktualna Temperatura:",
        "format": "{{msg.payload}}°C",
        "layout": "row-center",
        "className": "",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "b404e38ea2cd2b26",
        "type": "ui_chart",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "bda376001a4a078a",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "61238c0d5592c901",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "617c289c1fe65e5b",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Wentylator 3",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 670,
        "y": 500,
        "wires": []
    },
    {
        "id": "6bf786ab447a3b4f",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "617c289c1fe65e5b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktualna Temperatura:",
        "format": "{{msg.payload}}°C",
        "layout": "row-center",
        "className": "",
        "x": 700,
        "y": 540,
        "wires": []
    },
    {
        "id": "68a21166d781d8c0",
        "type": "ui_chart",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "617c289c1fe65e5b",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "8fa13984f3c8a70f",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "4156a645b40f200d",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Wentylator 4",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 670,
        "y": 680,
        "wires": []
    },
    {
        "id": "693912a50dfea180",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "4156a645b40f200d",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktualna Temperatura:",
        "format": "{{msg.payload}}°C",
        "layout": "row-center",
        "className": "",
        "x": 700,
        "y": 720,
        "wires": []
    },
    {
        "id": "1e02974daf3c7c43",
        "type": "ui_chart",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "4156a645b40f200d",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "550c9f1e10d2644c",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "7ac9664a2bf3d9f2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura Zadana: ",
        "format": "{{msg.payload}}°C",
        "layout": "row-center",
        "className": "",
        "x": 700,
        "y": 60,
        "wires": []
    },
    {
        "id": "8e1286b325de308b",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "bda376001a4a078a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura Zadana: ",
        "format": "{{msg.payload}}°C",
        "layout": "row-center",
        "className": "",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "d231553fd271ec2e",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "617c289c1fe65e5b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura Zadana: ",
        "format": "{{msg.payload}}°C",
        "layout": "row-center",
        "className": "",
        "x": 700,
        "y": 460,
        "wires": []
    },
    {
        "id": "4dca01c00c5faa2e",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "4156a645b40f200d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura Zadana: ",
        "format": "{{msg.payload}}°C",
        "layout": "row-center",
        "className": "",
        "x": 700,
        "y": 640,
        "wires": []
    },
    {
        "id": "629cb119beea1dd6",
        "type": "switch",
        "z": "12421ff9dde586d7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "Chłodzenie",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "Grzanie",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 550,
        "y": 960,
        "wires": [
            [
                "b83150d3158c21f8"
            ],
            [],
            []
        ]
    },
    {
        "id": "340987459216e8aa",
        "type": "ui_numeric",
        "z": "12421ff9dde586d7",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "0349933493185ff4",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 360,
        "y": 960,
        "wires": [
            [
                "629cb119beea1dd6"
            ]
        ]
    },
    {
        "id": "b83150d3158c21f8",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "0349933493185ff4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 750,
        "y": 900,
        "wires": []
    },
    {
        "id": "0504a7f967f2a2c1",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 780,
        "wires": [
            []
        ]
    }
]