NodeRed/flows.json
[
    {
        "id": "12421ff9dde586d7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "352fcc860ddcd8e8",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "18fee4d17594d314",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "37832e64f1a72775",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "93a718d834785ce5",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ef4821db8ede55e8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ed08ea8ae00afeef",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7ac9664a2bf3d9f2",
        "type": "ui_group",
        "name": "ZONE 1",
        "tab": "ed08ea8ae00afeef",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bda376001a4a078a",
        "type": "ui_group",
        "name": "ZONE 2",
        "tab": "ed08ea8ae00afeef",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "617c289c1fe65e5b",
        "type": "ui_group",
        "name": "ZONE 3",
        "tab": "ed08ea8ae00afeef",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4156a645b40f200d",
        "type": "ui_group",
        "name": "ZONE 4",
        "tab": "ed08ea8ae00afeef",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b83fdc84299e19f",
        "type": "ui_spacer",
        "z": "12421ff9dde586d7",
        "name": "spacer",
        "group": "7ac9664a2bf3d9f2",
        "order": 2,
        "width": "",
        "height": ""
    },
    {
        "id": "ecd0e27cf22f3009",
        "type": "ui_spacer",
        "z": "12421ff9dde586d7",
        "name": "spacer",
        "group": "bda376001a4a078a",
        "order": 2,
        "width": "",
        "height": ""
    },
    {
        "id": "fe40f219cac63996",
        "type": "ui_spacer",
        "z": "12421ff9dde586d7",
        "name": "spacer",
        "group": "617c289c1fe65e5b",
        "order": 2,
        "width": "",
        "height": ""
    },
    {
        "id": "822ee83694ce86e1",
        "type": "ui_spacer",
        "z": "12421ff9dde586d7",
        "name": "spacer",
        "group": "4156a645b40f200d",
        "order": 2,
        "width": "",
        "height": ""
    },
    {
        "id": "f2aed52371d902c0",
        "type": "mqtt-broker",
        "name": "Mqtt broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7ccd7f338ea382c4",
        "type": "ui_group",
        "name": "Active alarms",
        "tab": "ed08ea8ae00afeef",
        "order": 6,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "851edce0ef4a6acf",
        "type": "ui_group",
        "name": "Navigation",
        "tab": "ed08ea8ae00afeef",
        "order": 1,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2182112e81c0569e",
        "type": "ui_group",
        "name": "Data",
        "tab": "ed08ea8ae00afeef",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "11f45fc9e6355c1c",
        "type": "ui_group",
        "name": "OEE",
        "tab": "ed08ea8ae00afeef",
        "order": 9,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "12824100afa61730",
        "type": "ui_group",
        "name": "Alarm info",
        "tab": "ed08ea8ae00afeef",
        "order": 7,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b9de0e044f07b599",
        "type": "ui_spacer",
        "z": "12421ff9dde586d7",
        "name": "spacer",
        "group": "12824100afa61730",
        "order": 9,
        "width": "",
        "height": ""
    },
    {
        "id": "8520cd7bb799d472",
        "type": "ui_spacer",
        "z": "12421ff9dde586d7",
        "name": "spacer",
        "group": "7ccd7f338ea382c4",
        "order": 2,
        "width": "0",
        "height": "0"
    },
    {
        "id": "ba0e4bfb5dc84ba8",
        "type": "mqtt in",
        "z": "12421ff9dde586d7",
        "name": "",
        "topic": "FANS",
        "qos": "2",
        "datatype": "json",
        "broker": "f2aed52371d902c0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 320,
        "wires": [
            [
                "b33e69dfbf05741a",
                "6be35aea09602661",
                "b53f6db97731933e",
                "04c718d25ce543c6"
            ]
        ]
    },
    {
        "id": "83c2bb1e34bd43ab",
        "type": "mqtt in",
        "z": "12421ff9dde586d7",
        "name": "",
        "topic": "SETPOINTS",
        "qos": "2",
        "datatype": "json",
        "broker": "f2aed52371d902c0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 100,
        "wires": [
            [
                "550c9f1e10d2644c",
                "8e1286b325de308b",
                "d231553fd271ec2e",
                "4dca01c00c5faa2e",
                "897d0baff8ec125d"
            ]
        ]
    },
    {
        "id": "550c9f1e10d2644c",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "7ac9664a2bf3d9f2",
        "order": 7,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "",
        "format": "<h2>{{msg.payload.SetPoint1}}°C</h2> ",
        "layout": "row-center",
        "className": "",
        "x": 550,
        "y": 60,
        "wires": []
    },
    {
        "id": "8e1286b325de308b",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "bda376001a4a078a",
        "order": 7,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "",
        "format": "<h2>{{msg.payload.SetPoint2}}°C</h2> ",
        "layout": "row-center",
        "className": "",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "d231553fd271ec2e",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "617c289c1fe65e5b",
        "order": 7,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "",
        "format": "<h2>{{msg.payload.SetPoint3}}°C</h2> ",
        "layout": "row-center",
        "className": "",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "4dca01c00c5faa2e",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "4156a645b40f200d",
        "order": 7,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "",
        "format": "<h2>{{msg.payload.SetPoint4}}°C</h2> ",
        "layout": "row-center",
        "className": "",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "35be2aee50a84c1c",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "7ac9664a2bf3d9f2",
        "order": 8,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Fan 1",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "className": "",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "335abbb6457492ef",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "bda376001a4a078a",
        "order": 8,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Fan 2",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "className": "",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "61238c0d5592c901",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "617c289c1fe65e5b",
        "order": 8,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Fan 3",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "className": "",
        "x": 550,
        "y": 340,
        "wires": []
    },
    {
        "id": "8fa13984f3c8a70f",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "4156a645b40f200d",
        "order": 8,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Fan 4",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "className": "",
        "x": 550,
        "y": 380,
        "wires": []
    },
    {
        "id": "73736625e4114183",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "7ac9664a2bf3d9f2",
        "order": 6,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "",
        "format": "<h2>{{msg.payload}}°C</h2>",
        "layout": "row-center",
        "className": "",
        "x": 550,
        "y": 540,
        "wires": []
    },
    {
        "id": "f460d0eb218848ae",
        "type": "ui_chart",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "7ac9664a2bf3d9f2",
        "order": 10,
        "width": "0",
        "height": "0",
        "label": "Temperature graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "0818906543b39652",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "bda376001a4a078a",
        "order": 6,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "",
        "format": "<h2>{{msg.payload}}°C</h2>",
        "layout": "row-center",
        "className": "",
        "x": 550,
        "y": 660,
        "wires": []
    },
    {
        "id": "b404e38ea2cd2b26",
        "type": "ui_chart",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "bda376001a4a078a",
        "order": 10,
        "width": "0",
        "height": "0",
        "label": "Temperature graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "6bf786ab447a3b4f",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "617c289c1fe65e5b",
        "order": 6,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "",
        "format": "<h2>{{msg.payload}}°C</h2>",
        "layout": "row-center",
        "className": "",
        "x": 550,
        "y": 780,
        "wires": []
    },
    {
        "id": "68a21166d781d8c0",
        "type": "ui_chart",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "617c289c1fe65e5b",
        "order": 10,
        "width": "0",
        "height": "0",
        "label": "Temperature graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "693912a50dfea180",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "4156a645b40f200d",
        "order": 6,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "",
        "format": "<h2>{{msg.payload}}°C</h2>",
        "layout": "row-center",
        "className": "",
        "x": 550,
        "y": 900,
        "wires": []
    },
    {
        "id": "1e02974daf3c7c43",
        "type": "ui_chart",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "4156a645b40f200d",
        "order": 10,
        "width": "0",
        "height": "0",
        "label": "Temperature graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "b57b5287b03e3c44",
        "type": "mqtt in",
        "z": "12421ff9dde586d7",
        "name": "",
        "topic": "TEMPERATURES",
        "qos": "2",
        "datatype": "json",
        "broker": "f2aed52371d902c0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 740,
        "wires": [
            [
                "0b1f331c329e0473",
                "258f048bcad02f00",
                "5f72a694a098069e",
                "703ad5d68939bcca"
            ]
        ]
    },
    {
        "id": "0b1f331c329e0473",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "",
        "func": "var newMsg = { payload: msg.payload.length };\nnewMsg.payload = msg.payload.Temp1;\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 560,
        "wires": [
            [
                "73736625e4114183",
                "f460d0eb218848ae"
            ]
        ]
    },
    {
        "id": "0504a7f967f2a2c1",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "in: 0-3 -> out: stan strefy",
        "func": "var newMsg = { payload: msg.payload.length };\n\nswitch (msg.payload.Zone1){\n    case 0:\n        newMsg.payload = \"idle\";\n    break;\n    case 1:\n        newMsg.payload = \"heating\"\n    break;\n    case 2:\n        newMsg.payload = \"cooling\"\n    break;\n    default:\n        newMsg.payload = \"something broke\"\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1020,
        "wires": [
            [
                "a6671fd24f17c58b"
            ]
        ]
    },
    {
        "id": "a6671fd24f17c58b",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "7ac9664a2bf3d9f2",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "<h2>State:</h2> ",
        "format": "<h2>{{msg.payload}}</h2>",
        "layout": "row-center",
        "className": "",
        "x": 690,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d070a168102d2999",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "bda376001a4a078a",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "<h2>State:</h2> ",
        "format": "<h2>{{msg.payload}}</h2>",
        "layout": "row-center",
        "className": "",
        "x": 690,
        "y": 1080,
        "wires": []
    },
    {
        "id": "eab1465fef3f2b10",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "617c289c1fe65e5b",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "<h2>State:</h2> ",
        "format": "<h2>{{msg.payload}}</h2>",
        "layout": "row-center",
        "className": "",
        "x": 690,
        "y": 1140,
        "wires": []
    },
    {
        "id": "166f78788aac5fc6",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "4156a645b40f200d",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "<h2>State:</h2> ",
        "format": "<h2>{{msg.payload}}</h2>",
        "layout": "row-center",
        "className": "",
        "x": 690,
        "y": 1200,
        "wires": []
    },
    {
        "id": "c66681ee2ebcf7b9",
        "type": "mqtt in",
        "z": "12421ff9dde586d7",
        "name": "",
        "topic": "ZONES",
        "qos": "2",
        "datatype": "json",
        "broker": "f2aed52371d902c0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1100,
        "wires": [
            [
                "0504a7f967f2a2c1",
                "0354dea088688974",
                "602d0304b03b1110",
                "dc03e906aeb7369b"
            ]
        ]
    },
    {
        "id": "258f048bcad02f00",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "",
        "func": "var newMsg = { payload: msg.payload.length };\nnewMsg.payload = msg.payload.Temp2;\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 397.8125,
        "y": 680.818603515625,
        "wires": [
            [
                "0818906543b39652",
                "b404e38ea2cd2b26"
            ]
        ]
    },
    {
        "id": "5f72a694a098069e",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "",
        "func": "var newMsg = { payload: msg.payload.length };\nnewMsg.payload = msg.payload.Temp3;\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 800,
        "wires": [
            [
                "6bf786ab447a3b4f",
                "68a21166d781d8c0"
            ]
        ]
    },
    {
        "id": "703ad5d68939bcca",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "",
        "func": "var newMsg = { payload: msg.payload.length };\nnewMsg.payload = msg.payload.Temp4;\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 920,
        "wires": [
            [
                "693912a50dfea180",
                "1e02974daf3c7c43"
            ]
        ]
    },
    {
        "id": "670e8ef8c119ce06",
        "type": "mqtt in",
        "z": "12421ff9dde586d7",
        "name": "",
        "topic": "OEE",
        "qos": "2",
        "datatype": "json",
        "broker": "f2aed52371d902c0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1090,
        "y": 800,
        "wires": [
            [
                "274d9109a825a66c",
                "183c2be7506a8e43",
                "eed5e5a558c738ac",
                "088d68922f66aa43",
                "1247fae0a44c675a",
                "632d501b1a75067f",
                "1d2acface0225e74"
            ]
        ]
    },
    {
        "id": "f978e8e5a5c2d6f7",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "7ac9664a2bf3d9f2",
        "order": 9,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Heater 1",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "80",
        "className": "",
        "x": 640,
        "y": 1320,
        "wires": []
    },
    {
        "id": "7d790468280e1065",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "bda376001a4a078a",
        "order": 9,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Heater 2",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "80",
        "className": "",
        "x": 640,
        "y": 1360,
        "wires": []
    },
    {
        "id": "702e07effcb2117e",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "617c289c1fe65e5b",
        "order": 9,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Heater 3",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "80",
        "className": "",
        "x": 640,
        "y": 1400,
        "wires": []
    },
    {
        "id": "fcd7e1d2afc039f7",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "4156a645b40f200d",
        "order": 9,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Heater 4",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "80",
        "className": "",
        "x": 640,
        "y": 1440,
        "wires": []
    },
    {
        "id": "0354dea088688974",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "in: 0-3 -> out: stan strefy",
        "func": "var newMsg = { payload: msg.payload.length };\n\nswitch (msg.payload.Zone2){\n    case 0:\n        newMsg.payload = \"idle\";\n    break;\n    case 1:\n        newMsg.payload = \"heating\"\n    break;\n    case 2:\n        newMsg.payload = \"cooling\"\n    break;\n    default:\n        newMsg.payload = \"something broke\"\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1080,
        "wires": [
            [
                "d070a168102d2999"
            ]
        ]
    },
    {
        "id": "602d0304b03b1110",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "in: 0-3 -> out: stan strefy",
        "func": "var newMsg = { payload: msg.payload.length };\n\nswitch (msg.payload.Zone2){\n    case 0:\n        newMsg.payload = \"idle\";\n    break;\n    case 1:\n        newMsg.payload = \"heating\"\n    break;\n    case 2:\n        newMsg.payload = \"cooling\"\n    break;\n    default:\n        newMsg.payload = \"something broke\"\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1140,
        "wires": [
            [
                "eab1465fef3f2b10"
            ]
        ]
    },
    {
        "id": "dc03e906aeb7369b",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "in: 0-3 -> out: stan strefy",
        "func": "var newMsg = { payload: msg.payload.length };\n\nswitch (msg.payload.Zone2){\n    case 0:\n        newMsg.payload = \"idle\";\n    break;\n    case 1:\n        newMsg.payload = \"heating\"\n    break;\n    case 2:\n        newMsg.payload = \"cooling\"\n    break;\n    default:\n        newMsg.payload = \"something broke\"\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1200,
        "wires": [
            [
                "166f78788aac5fc6"
            ]
        ]
    },
    {
        "id": "fcccc749f0e643aa",
        "type": "mqtt in",
        "z": "12421ff9dde586d7",
        "name": "",
        "topic": "HEATERS",
        "qos": "2",
        "datatype": "json",
        "broker": "f2aed52371d902c0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1380,
        "wires": [
            [
                "103371635e563c44",
                "bf7ca3f168c1db43",
                "e792f49c31cd41d3",
                "11973e702bdffc99"
            ]
        ]
    },
    {
        "id": "2f73f0c76cb9403b",
        "type": "mqtt in",
        "z": "12421ff9dde586d7",
        "name": "",
        "topic": "STATE",
        "qos": "2",
        "datatype": "json",
        "broker": "f2aed52371d902c0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1090,
        "y": 640,
        "wires": [
            [
                "496c021721e1a434"
            ]
        ]
    },
    {
        "id": "28863b4c3e7ba9e4",
        "type": "ui_table",
        "z": "12421ff9dde586d7",
        "group": "7ccd7f338ea382c4",
        "name": "",
        "order": 1,
        "width": "20",
        "height": "16",
        "columns": [
            {
                "field": "Nr",
                "title": "Nr",
                "width": "5%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Content",
                "title": "Content",
                "width": "65%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "godzina",
                "title": "Time",
                "width": "10%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "acknowlage",
                "title": "Acknowlage",
                "width": "12%",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "active",
                "title": "Active",
                "width": "8%",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1650,
        "y": 200,
        "wires": []
    },
    {
        "id": "2a662d7ab6bd7a63",
        "type": "mqtt in",
        "z": "12421ff9dde586d7",
        "name": "",
        "topic": "ALARMS",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f2aed52371d902c0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "e5df25fb1ec321e6",
                "95a36b1ad2bbaf5e",
                "87523d2980dc9b70"
            ]
        ]
    },
    {
        "id": "e5df25fb1ec321e6",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 1",
        "func": "var strin=\"\";\n\n\nstrin = msg.payload.ActiveAlarms;\nvar alarms = strin.split(',');\nvar liczbaAlarmow = alarms.length - 1;\nvar nrAlarmu = [];\nvar trescAlarmu = [];\nvar data = [];\nvar godzina = [];\nvar ack = [];\nvar active = [];\n\nfor (var i = 0; i < liczbaAlarmow; i++) {\nvar datagodzina = [];\nvar alarmJeden = \"\";\nalarmJeden = alarms[i].split(\";\");\nnrAlarmu[i] = alarmJeden[0];\ntrescAlarmu[i] = alarmJeden[1];\ndata[i] = alarmJeden[2];\ndatagodzina = data[i].split(\" \");\ndata[i] = datagodzina[0];\ngodzina[i] = datagodzina[1];\ngodzina[i] = godzina[i].slice(0, -4);\nack[i] = alarmJeden[3];\nif(ack[i]==\"TRUE\"){ack[i]=1}else{ack[i]=0};\nactive[i] = alarmJeden[4];\nif (active[i] == \"TRUE\") { active[i] = 1 } else { active[i] = 0 };\n}\n\nvar newMsg = { payload: msg.payload.length };\nnewMsg.payload = \"[\";\n\nfor (var i = 0; i < liczbaAlarmow; i++) {\n    if (i != liczbaAlarmow-1)\n    {\n        newMsg.payload = newMsg.payload + \"{\\\"Nr\\\":\\\"\" + nrAlarmu[i] + \"\\\",\\\"Content\\\":\\\"\" + trescAlarmu[i] + \"\\\",\\\"godzina\\\":\\\"\" + godzina[i] + \"\\\",\\\"acknowlage\\\":\\\"\" + ack[i] + \"\\\",\\\"active\\\":\\\"\" + active[i]+\"\\\"},\"; \n    }\n    else\n    {\n        newMsg.payload = newMsg.payload + \"{\\\"Nr\\\":\\\"\" + nrAlarmu[i] + \"\\\",\\\"Content\\\":\\\"\" + trescAlarmu[i] + \"\\\",\\\"godzina\\\":\\\"\" + godzina[i] + \"\\\",\\\"acknowlage\\\":\\\"\" + ack[i] + \"\\\",\\\"active\\\":\\\"\" + active[i]+\"\\\"}\";\n    }\n}\n\nnewMsg.payload = newMsg.payload + \"]\";\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 200,
        "wires": [
            [
                "93304f9a808a7fd7",
                "47523c07fe0205bb"
            ]
        ]
    },
    {
        "id": "93304f9a808a7fd7",
        "type": "json",
        "z": "12421ff9dde586d7",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1490,
        "y": 200,
        "wires": [
            [
                "28863b4c3e7ba9e4"
            ]
        ]
    },
    {
        "id": "255188a2dc25a433",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "2182112e81c0569e",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Ideal cycle time:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1520,
        "y": 680,
        "wires": []
    },
    {
        "id": "274d9109a825a66c",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 2",
        "func": "var idealTime = msg.payload.IdealCycleTime;\nvar newMsg = { payload: msg.payload.length };\n\nidealTime = idealTime.slice(2);\nnewMsg.payload = idealTime.replace(/_/gi,\" \");\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 680,
        "wires": [
            [
                "255188a2dc25a433"
            ]
        ]
    },
    {
        "id": "6019c1f5f564afaf",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "2182112e81c0569e",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Number of good pieces:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1550,
        "y": 720,
        "wires": []
    },
    {
        "id": "a476c51c9fb075a9",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "2182112e81c0569e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Number of reject pieces:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1550,
        "y": 760,
        "wires": []
    },
    {
        "id": "183c2be7506a8e43",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 3",
        "func": "var newMsg = { payload: msg.payload.length };\n\nnewMsg.payload = msg.payload.PieceCounter;\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 720,
        "wires": [
            [
                "6019c1f5f564afaf"
            ]
        ]
    },
    {
        "id": "eed5e5a558c738ac",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 4",
        "func": "var newMsg = { payload: msg.payload.length };\n\nnewMsg.payload = msg.payload.RejectCounter;\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 760,
        "wires": [
            [
                "a476c51c9fb075a9"
            ]
        ]
    },
    {
        "id": "088d68922f66aa43",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 5",
        "func": "var newMsg = { payload: msg.payload.length };\nvar liczba = 0;\n\nliczba = msg.payload.OEE;\n\nnewMsg.payload = liczba.toFixed(3);\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 960,
        "wires": [
            [
                "72007acc4afa0832"
            ]
        ]
    },
    {
        "id": "632d501b1a75067f",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 6",
        "func": "var newMsg = { payload: msg.payload.length };\nvar liczba = 0;\n\nliczba = msg.payload.Performance;\n\nnewMsg.payload = liczba.toFixed(3);\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 920,
        "wires": [
            [
                "c61f9b5cd9a9518f"
            ]
        ]
    },
    {
        "id": "1247fae0a44c675a",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 7",
        "func": "var newMsg = { payload: msg.payload.length };\nvar liczba = 0;\n\nliczba = msg.payload.Availability;\n\nnewMsg.payload = liczba.toFixed(3);\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 840,
        "wires": [
            [
                "933d5a2884590b40"
            ]
        ]
    },
    {
        "id": "1d2acface0225e74",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 8",
        "func": "var newMsg = { payload: msg.payload.length };\nvar liczba = 0;\n\nliczba = msg.payload.Quality;\n\nnewMsg.payload = liczba.toFixed(3);\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 880,
        "wires": [
            [
                "34a4cb80cf2057f2"
            ]
        ]
    },
    {
        "id": "496c021721e1a434",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 9",
        "func": "var newMsg = { payload: msg.payload.length };\n\nswitch (msg.payload.Machine_state) {\n    case 0:\n        newMsg.payload = \"Idle\";\n        break;\n    case 1:\n        newMsg.payload = \"Tuning\"\n        break;\n    case 2:\n        newMsg.payload = \"Working in manual\"\n        break;\n    case 3:\n        newMsg.payload = \"Working in automatic\"\n        break;\n    case 4:\n        newMsg.payload = \"ERROR\"\n        break;\n    case 5:\n        newMsg.payload = \"Stop\"\n        break;\n    default:\n        newMsg.payload = \"ERROR switch\"\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 640,
        "wires": [
            [
                "c4ae960a9b91b97e"
            ]
        ]
    },
    {
        "id": "c4ae960a9b91b97e",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "2182112e81c0569e",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Machine state:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1520,
        "y": 640,
        "wires": []
    },
    {
        "id": "ba7684576e4024da",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "12824100afa61730",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Pending alarms:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1520,
        "y": 260,
        "wires": []
    },
    {
        "id": "817f7de03646feac",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "12824100afa61730",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Active alarms: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1520,
        "y": 300,
        "wires": []
    },
    {
        "id": "95a36b1ad2bbaf5e",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 10",
        "func": "var newMsg = { payload: msg.payload.length };\n\nnewMsg.payload = msg.payload.Pending;\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 260,
        "wires": [
            [
                "ba7684576e4024da"
            ]
        ]
    },
    {
        "id": "87523d2980dc9b70",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 11",
        "func": "var newMsg = { payload: msg.payload.length };\n\nnewMsg.payload = msg.payload.Active;\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 300,
        "wires": [
            [
                "817f7de03646feac"
            ]
        ]
    },
    {
        "id": "b33e69dfbf05741a",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 12",
        "func": "var newMsg = { payload: msg.payload.length };\nvar liczba = 0;\nliczba = msg.payload.Fan1;\nnewMsg.payload = liczba.toFixed(0);\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 260,
        "wires": [
            [
                "35be2aee50a84c1c"
            ]
        ]
    },
    {
        "id": "b53f6db97731933e",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 13",
        "func": "var newMsg = { payload: msg.payload.length };\nvar liczba = 0;\nliczba = msg.payload.Fan3;\nnewMsg.payload = liczba.toFixed(0);\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 340,
        "wires": [
            [
                "61238c0d5592c901"
            ]
        ]
    },
    {
        "id": "6be35aea09602661",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 14",
        "func": "var newMsg = { payload: msg.payload.length };\nvar liczba = 0;\nliczba = msg.payload.Fan2;\nnewMsg.payload = liczba.toFixed(0);\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 300,
        "wires": [
            [
                "335abbb6457492ef"
            ]
        ]
    },
    {
        "id": "04c718d25ce543c6",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 15",
        "func": "var newMsg = { payload: msg.payload.length };\nvar liczba = 0;\nliczba = msg.payload.Fan4;\nnewMsg.payload = liczba.toFixed(0);\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 380,
        "wires": [
            [
                "8fa13984f3c8a70f"
            ]
        ]
    },
    {
        "id": "103371635e563c44",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 16",
        "func": "var newMsg = { payload: msg.payload.length };\nvar liczba = 0;\nliczba = msg.payload.Heater1;\nnewMsg.payload = liczba.toFixed(0);\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1320,
        "wires": [
            [
                "f978e8e5a5c2d6f7"
            ]
        ]
    },
    {
        "id": "bf7ca3f168c1db43",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 17",
        "func": "var newMsg = { payload: msg.payload.length };\nvar liczba = 0;\nliczba = msg.payload.Heater2;\nnewMsg.payload = liczba.toFixed(0);\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1360,
        "wires": [
            [
                "7d790468280e1065"
            ]
        ]
    },
    {
        "id": "e792f49c31cd41d3",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 18",
        "func": "var newMsg = { payload: msg.payload.length };\nvar liczba = 0;\nliczba = msg.payload.Heater3;\nnewMsg.payload = liczba.toFixed(0);\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1400,
        "wires": [
            [
                "702e07effcb2117e"
            ]
        ]
    },
    {
        "id": "11973e702bdffc99",
        "type": "function",
        "z": "12421ff9dde586d7",
        "name": "function 19",
        "func": "var newMsg = { payload: msg.payload.length };\nvar liczba = 0;\nliczba = msg.payload.Heater4;\nnewMsg.payload = liczba.toFixed(0);\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1440,
        "wires": [
            [
                "fcd7e1d2afc039f7"
            ]
        ]
    },
    {
        "id": "b616f7134bc8d118",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "7ac9664a2bf3d9f2",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "<h2>Current:</h2>",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 710,
        "y": 540,
        "wires": []
    },
    {
        "id": "62aee3cf1448de82",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "7ac9664a2bf3d9f2",
        "order": 5,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "<h2>Setpoint:</h2> ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "078b639880014b1c",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "bda376001a4a078a",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "<h2>Temperature</h2>",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 450,
        "y": 1640,
        "wires": []
    },
    {
        "id": "b59d4fe08a84f015",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "bda376001a4a078a",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "<h2>Current:</h2>",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 710,
        "y": 660,
        "wires": []
    },
    {
        "id": "2c2585ffa296b65c",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "bda376001a4a078a",
        "order": 5,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "<h2>Setpoint:</h2> ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "ca6460b04f230440",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "7ac9664a2bf3d9f2",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<h2>Temperature</h2>",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 450,
        "y": 1600,
        "wires": []
    },
    {
        "id": "c3efd6f9431ad560",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "617c289c1fe65e5b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<h2>Temperature</h2>",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 450,
        "y": 1680,
        "wires": []
    },
    {
        "id": "55bd61693a1c029d",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "4156a645b40f200d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<h2>Temperature</h2>",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 450,
        "y": 1720,
        "wires": []
    },
    {
        "id": "762ecc834c42ffdb",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "617c289c1fe65e5b",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "<h2>Current:</h2>",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 710,
        "y": 780,
        "wires": []
    },
    {
        "id": "ab6c5b1234f621b8",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "617c289c1fe65e5b",
        "order": 5,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "<h2>Setpoint:</h2> ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "dc3cc371a88ba2e4",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "4156a645b40f200d",
        "order": 5,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "<h2>Setpoint:</h2> ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "9421a11315a3c238",
        "type": "ui_text",
        "z": "12421ff9dde586d7",
        "group": "4156a645b40f200d",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "<h2>Current:</h2>",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 710,
        "y": 900,
        "wires": []
    },
    {
        "id": "933d5a2884590b40",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "11f45fc9e6355c1c",
        "order": 4,
        "width": "9",
        "height": "5",
        "gtype": "gage",
        "title": "Availability",
        "label": "",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "0.5",
        "seg2": "0.8",
        "className": "",
        "x": 1510,
        "y": 840,
        "wires": []
    },
    {
        "id": "34a4cb80cf2057f2",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "11f45fc9e6355c1c",
        "order": 4,
        "width": "9",
        "height": "5",
        "gtype": "gage",
        "title": "Quailty",
        "label": "",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "0.5",
        "seg2": "0.8",
        "className": "",
        "x": 1500,
        "y": 880,
        "wires": []
    },
    {
        "id": "c61f9b5cd9a9518f",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "11f45fc9e6355c1c",
        "order": 4,
        "width": "9",
        "height": "5",
        "gtype": "gage",
        "title": "Performance",
        "label": "",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "0.5",
        "seg2": "0.8",
        "className": "",
        "x": 1510,
        "y": 920,
        "wires": []
    },
    {
        "id": "72007acc4afa0832",
        "type": "ui_gauge",
        "z": "12421ff9dde586d7",
        "name": "",
        "group": "11f45fc9e6355c1c",
        "order": 4,
        "width": "9",
        "height": "5",
        "gtype": "gage",
        "title": "OEE",
        "label": "",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "0.5",
        "seg2": "0.8",
        "className": "",
        "x": 1490,
        "y": 960,
        "wires": []
    },
    {
        "id": "47523c07fe0205bb",
        "type": "debug",
        "z": "12421ff9dde586d7",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 40,
        "wires": []
    },
    {
        "id": "897d0baff8ec125d",
        "type": "debug",
        "z": "12421ff9dde586d7",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 180,
        "wires": []
    },
    {
        "id": "ed128785bb8ae9a5",
        "type": "aedes broker",
        "z": "352fcc860ddcd8e8",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "18526b83d7536b0a"
            ],
            [
                "fa80e1cacc3ed2e6"
            ]
        ]
    },
    {
        "id": "8e7cb7b23464dc75",
        "type": "ui_ui_control",
        "z": "352fcc860ddcd8e8",
        "name": "",
        "events": "change",
        "x": 640,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "7fe0c0d8155384e2",
        "type": "ui_button",
        "z": "352fcc860ddcd8e8",
        "name": "",
        "group": "851edce0ef4a6acf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Zone view",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Home_Active_alarms\",\"Home_Data\",\"Home_OEE\",\"Home_Alarm_info\"],\"show\":[\"Home_ZONE_1\",\"Home_ZONE_2\",\"Home_ZONE_3\",\"Home_ZONE_4\"],\"focus\":true}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "8e7cb7b23464dc75"
            ]
        ]
    },
    {
        "id": "c6617f8248230d03",
        "type": "ui_button",
        "z": "352fcc860ddcd8e8",
        "name": "",
        "group": "851edce0ef4a6acf",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Alarms",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Home_ZONE_1\",\"Home_ZONE_2\",\"Home_ZONE_3\",\"Home_ZONE_4\",\"Home_Data\",\"Home_OEE\"],\"show\":[\"Home_Active_alarms\",\"Home_Alarm_info\"],\"focus\":true}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 300,
        "wires": [
            [
                "8e7cb7b23464dc75"
            ]
        ]
    },
    {
        "id": "88c2e5b5512d18e6",
        "type": "ui_button",
        "z": "352fcc860ddcd8e8",
        "name": "",
        "group": "851edce0ef4a6acf",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OEE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Home_ZONE_1\",\"Home_ZONE_2\",\"Home_ZONE_3\",\"Home_ZONE_4\",\"Home_Active_alarms\",\"Home_Alarm_info\"],\"show\":[\"Home_Data\",\"Home_OEE\"],\"focus\":true}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "8e7cb7b23464dc75"
            ]
        ]
    },
    {
        "id": "bbe09a43b8f3aa2f",
        "type": "debug",
        "z": "352fcc860ddcd8e8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 220,
        "wires": []
    },
    {
        "id": "3565c303b3db324b",
        "type": "inject",
        "z": "352fcc860ddcd8e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.01",
        "topic": "",
        "payload": "{\"group\":{\"hide\":[\"Home_Active_alarms\",\"Home_Data\",\"Home_OEE\",\"Home_Alarm_info\"],\"show\":[\"Home_ZONE_1\",\"Home_ZONE_2\",\"Home_ZONE_3\",\"Home_ZONE_4\"],\"focus\":true}}",
        "payloadType": "json",
        "x": 410,
        "y": 220,
        "wires": [
            [
                "8e7cb7b23464dc75"
            ]
        ]
    },
    {
        "id": "18526b83d7536b0a",
        "type": "debug",
        "z": "352fcc860ddcd8e8",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 40,
        "wires": []
    },
    {
        "id": "fa80e1cacc3ed2e6",
        "type": "debug",
        "z": "352fcc860ddcd8e8",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 80,
        "wires": []
    }
]